*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
 #header{
     padding: 20px 0;
     background: dimgrey;
 }

 .header{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .header-logo{
     color: white;
     font-size: 55px;
 }
 .nav-item{
     color: white;
     margin: 0 20px;
     text-decoration: none;
 }


 .burger-item{
     cursor: pointer;
     width: 40px;
     height: 3px;
     background: white;
     margin: 5px 0;
 }

 @media (max-width: 768px){
.burger-menu{
    display: flex;
    flex-direction: column;
    z-index: 10;

}
     .header-nav{
         display: flex;
         align-items: start;
         flex-direction: column;
         position: absolute;
         right: 0;
         top: 0;
         background: rgba(0,0,0,0.75);
         padding: 100px 100px 70px 100px;
         border-radius: 10px;
         transform: translateX(100%);
         transition: 1s;
     }
     .nav-item{
         margin: 5px 0;
     }
 }




 /*MODAL*/


#modal{
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 40%;
    margin-left: 450px;
    height: 60%;
    margin-top: 100px;
    border-radius: 20px;
    transform: scale(0) ;
    transition: 0.5s;
    position: relative;
    padding: 50px 0;

}


.close-btn{
    cursor: pointer;
    position: absolute;
    top: 0  ;
    right: 15px;
    font-size: 30px;
}


